version: '3'
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.development
    ports:
      - "3000:3000" 
    working_dir: /app
    volumes:
      - ./client:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]
    environment:
      - NODE_ENV=development

  server:
    build:
      context: ./server
      dockerfile: Dockerfile.development
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
    environment:
      - FLASK_ENV=development